@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["Message"] != null)
    {
    <div class="alert alert-success">@TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button></div>
    }
    <p class="display-4">Welcome! How are you feeling today?</p>
    <p class="paragraf-main-page">Please add a symptom or feeling using the following buttons:</p>
    <div class="buttons-for-symptoms-main-page">
        <div class="button-container">
            <a asp-controller="Home" asp-action="SymptomsForm" class="circular-button">
                <span class="red-cross">+</span>
                <span class="button-text">ADD SYMPTOM</span>
            </a>
        </div>
        <div class="button-container">
            <a asp-controller="Home" asp-action="FeelingsForm" class="circular-button">
                <span class="red-cross">+</span>
                <span class="button-text">ADD FEELING</span>
            </a>
        </div>
    </div>
    @if (ViewData["Diagnosis"] != null)
    {
    <div class="diagnosis-box">
        <h4>Possible Diagnosis:</h4>
        <p>@ViewData["Diagnosis"]</p>
    </div>
    }

</div>

<style>
    .diagnosis-box {
        margin-top: 100px; 
        padding: 20px; 
        border: 2px solid #6a1a21;
        background-color: #f2f2f2; 
        border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }

    .diagnosis-box h4 {
        font-size: 18px; 
        color: #6a1a21; 
    }

    .diagnosis-box p {
        font-size: 16px; 
        color: #333; 
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .display-4{
        font-weight: bolder;
        font-size: 40px;
    }
    .buttons-for-symptoms-main-page{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .paragraf-main-page{
        font-size:  20px;
    }
    .circular-button {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 50%;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s;
    }

    .red-cross {
        position: absolute;
        margin-bottom: 25px;
        color: red;
        font-size: 90px;
        font-weight: bold;
        line-height: 0.5;
    }

    .button-text {
        position: absolute;
        margin-bottom: -55px;
        bottom: 10px;
        font-size: 13px;
        color: black;
    }

    .circular-button:hover {
        background-color: #f8f9fa;
        border-color: red;
    }
</style>