@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var fontSize = ViewData["FontSize"];
}
<link rel="stylesheet" href="~/css/site.css" />

<style>
    :root {
        --font-title: @fontSize px;
        --font-h2: calc( @fontSize * 0.9px);
        --font-h3: calc( @fontSize * 0.8px);
        --font-paragraph: calc( @fontSize * 0.5px);
    }

    h1 {
        font-size: var(--font-title);
    }

    h3 {
        font-size: var(--font-h3);
    }

    p {
        font-size: var(--font-paragraph);
    }

    .card-title {
        font-size: var(--font-h2);
    }
</style>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
