@{
    ViewData["Title"] = "Results";
}

<div>
    <h1>Your Score</h1>
    <h2>Total Points: @ViewBag.TotalPoints</h2>
    <a asp-action="GetAllChallanges" class="btn btn-secondary">Back to Challenges</a>
</div>
